body {
    background: #fafafa;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

/*
    my changes
*/


#loading {
    padding-top: 70px;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

#spinner {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    left: 50%;
}

/* to remove rounded borders */
.border-straight {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/* this is to adjust text-to-glyph sizes*/
.near-glyph{
    font-size: 15px;
}

.glyph-near-text{
    font-size:13px;
}


body {
    /* this is because fixed navbar eats a bit of content*/
    padding-top: 70px;

    /*dark color theme*/
    background: #eee;
}

.table-margin{
    margin-top: 20px;
}

/* adding scroll bar to the dropdown */
.scrollable-menu {
    height: auto;
    max-height: 320px;
    overflow-x: hidden;
}

/* fill  the outer container if mobile device */
@media (max-width : 768px){
.width-justified-mobile {
    min-width:auto;
    width:100%;
}
}
@media (max-width : 992px){
    .width-justified-tablet {
        min-width:auto;
        width:100%;
    }
}

/* fill  the outer container  */
.width-justified {
   width: 100%;
}

.no-vertical-padding{
    padding-top: 0px;
    padding-bottom: 0px;
}

.no-side-padding{
    padding-left: 0px;
    padding-right: 0px;
}
@media (max-width : 992px) {
    .no-side-padding-tablet-mobile {
        padding-left: 0px;
        padding-right: 0px;
    }
}
/* fix bootstrap-table outer borders*/
.fixed-table-container {
    border: none;
}

/* Make arrows visible on the dark background*/
.color-light-grey{
    background-color: #f5f5f5;
}

/* for dark buttons if needed*/
#btn-inverse:hover,
#btn-inverse:focus,
#btn-inverse:active,
#btn-inverse.active,
#btn-inverse.disabled,
#btn-inverse[disabled] {
    background-color: #ffffff;
    background-position: 0;
}
